{% extends 'base.html' %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="mt-5 d-flex flex-column align-items-center">
            <h1>Welcome to Project Awards</h1>
            <h2>Please log in first</h2>
        </div>
    {% else %}
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <h1>Projects</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form action="{% url 'add-project' %}">
                        <input class="btn btn-primary" type="submit" value="Add Project" />
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
