{% extends 'base.html' %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="mt-5 d-flex flex-column align-items-center">
            <h1>Welcome to Project Awards</h1>
            <h2>Please log in first</h2>
        </div>
    {% else %}
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col">
                    <h1>Projects</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form action="{% url 'add-project' %}">
                        <input class="btn btn-primary" type="submit" value="Add Project" />
                    </form>
                </div>
            </div>
            <div class="row mt-5 d-flex">
                {% for project in projects %}
                    <div class="card mr-5" style="width: 18rem;">
                        <img class="card-img-top" src="{{ project.photo.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <p class="card-text">{{ project.description }}</p>
                            <p class="card-text">Score: 5/10</p>
                            <a href="{{ project.link }}" class="card-text mr-5">Check It Out</a>
                            <a href="#" class="btn btn-primary">Rate Project</a>
                            <a href="{% url 'project' project=project.id %}" class="btn btn-primary">View Project</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
